<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Monkkee Regression Test">
    <listeners>
        <listener class-name="tests.base.TestListener"/>
        <listener class-name="tests.base.AnnotationTransformer"/>
    </listeners>

    <test name="Login">
        <classes>
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>

    <test name="Create entry">
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>
</suite>